{% extends 'base.html' %}

{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend>Delete User</legend>
                <h2>Confirm delete user: {{object.username}}.</h2>
            </fieldset>
            <div class="form-group">
                <button type="submit" class="btn btn-danger">Delete</button>
                <a class="btn btn-secondary" href="{% url 'user-home' %}">Cancel</a>
            </div>
        </form>
    </div>
{% endblock content %}
